
#full{
	border: 3px solid;
	display: inline-block;
	
	border-top-color: #F0F0F0;
	border-left-color: #F0F0F0;
	border-bottom-color:gray;
	border-right-color: gray;
}
#inner{
	border: 10px solid #E0E0E0;
	display: inline-block;
}
#view{
	background-color: #E0E0E0;
	border-bottom: 10px solid #E0E0E0;
	text-align: center;
}
#view .counter{
	background-color: white;
	border: 2px solid white;
}

#grid button{
	padding: 0;
	height: 20px;
	width: 20px;
	display: inline-block;
	vertical-align: top;
	
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	font-family: "Arial";
	margin: 0px 0px;
	
	border:2px solid;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color:gray;
	border-right-color: gray;
	
	background-image: default;
	background-color: #E0E0E0;
}
#grid button:disabled{border:1px solid #c1c0c0;}

#grid .flagged{background-image: url(images/flagT.png);}
#grid .flagged.victory{background-color: #8CFE7D;}
#grid .mine{background-image: url(images/mineT.png);}
#grid .mine.failed{background-color: #FE7D7F;}
#grid ._1{color: blue;}
#grid ._2{color: green;}
#grid ._3{color: red;}
#grid ._4{color: navy;}
#grid ._5{color: maroon;}
#grid ._6{color: teal;}
#grid ._7{color: black;}
#grid ._8{color: gray;}